nifi/flows/Flow_Carga_Clientes_MySQL.json
{
    "flowContents": {
        "identifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
        "instanceIdentifier": "63bcee86-0194-1000-5697-c9a1bb12f709",
        "name": "Flow_Carga_Clientes_MySQL",
        "comments": "",
        "position": {
            "x": -441,
            "y": -264.5
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "addd7dec-2ad3-3b5e-8849-ac21b7b13b5b",
                "instanceIdentifier": "63be959e-0194-1000-d11e-8073b0745aca",
                "name": "Converte CSV em JSON",
                "comments": "",
                "position": {
                    "x": 96,
                    "y": -184
                },
                "type": "org.apache.nifi.processors.standard.QueryRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.0.0-M4"
                },
                "properties": {
                    "cache-schema": "true",
                    "dbf-default-precision": "10",
                    "record-writer": "75eedcea-6373-3eb6-b406-52775482a9e5",
                    "query": "SELECT * FROM FLOWFILE",
                    "record-reader": "7368fd73-7c6e-350c-a360-8ae009150886",
                    "include-zero-record-flowfiles": "true",
                    "dbf-default-scale": "0"
                },
                "propertyDescriptors": {
                    "cache-schema": {
                        "name": "cache-schema",
                        "displayName": "Cache Schema",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "dbf-default-precision": {
                        "name": "dbf-default-precision",
                        "displayName": "Default Decimal Precision",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "query": {
                        "name": "query",
                        "displayName": "query",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "include-zero-record-flowfiles": {
                        "name": "include-zero-record-flowfiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "dbf-default-scale": {
                        "name": "dbf-default-scale",
                        "displayName": "Default Decimal Scale",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            },
            {
                "identifier": "5daa58b1-9549-37a8-b2a7-79ed5a46a0b3",
                "instanceIdentifier": "63bd3fab-0194-1000-5526-468f4aff2efc",
                "name": "Ler Arquivo Clientes",
                "comments": "Execute esse processo uma única vez para carregar os clientes \"Run Once\".",
                "position": {
                    "x": -536,
                    "y": -184
                },
                "type": "org.apache.nifi.processors.standard.GetFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.0.0-M4"
                },
                "properties": {
                    "Keep Source File": "true",
                    "Minimum File Age": "0 sec",
                    "Polling Interval": "0 sec",
                    "Input Directory": "/home/nifi/mock",
                    "Maximum File Age": null,
                    "Batch Size": "10",
                    "Maximum File Size": null,
                    "Minimum File Size": "0 B",
                    "Ignore Hidden Files": "true",
                    "Recurse Subdirectories": "true",
                    "File Filter": "clientes.csv",
                    "Path Filter": null
                },
                "propertyDescriptors": {
                    "Keep Source File": {
                        "name": "Keep Source File",
                        "displayName": "Keep Source File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Age": {
                        "name": "Minimum File Age",
                        "displayName": "Minimum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Polling Interval": {
                        "name": "Polling Interval",
                        "displayName": "Polling Interval",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Input Directory": {
                        "name": "Input Directory",
                        "displayName": "Input Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Age": {
                        "name": "Maximum File Age",
                        "displayName": "Maximum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Maximum File Size": {
                        "name": "Maximum File Size",
                        "displayName": "Maximum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Minimum File Size": {
                        "name": "Minimum File Size",
                        "displayName": "Minimum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Ignore Hidden Files": {
                        "name": "Ignore Hidden Files",
                        "displayName": "Ignore Hidden Files",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Recurse Subdirectories": {
                        "name": "Recurse Subdirectories",
                        "displayName": "Recurse Subdirectories",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "File Filter": {
                        "name": "File Filter",
                        "displayName": "File Filter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Path Filter": {
                        "name": "Path Filter",
                        "displayName": "Path Filter",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            },
            {
                "identifier": "f7e4bdfa-c8fc-3fcb-87c6-3217dc7c4112",
                "instanceIdentifier": "63c888ff-0194-1000-b8af-e10cab7b6694",
                "name": "Grava MySQL Clientes",
                "comments": "",
                "position": {
                    "x": 736,
                    "y": -184
                },
                "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.0.0-M4"
                },
                "properties": {
                    "put-db-record-allow-multiple-statements": "false",
                    "table-schema-cache-size": "100",
                    "put-db-record-schema-name": null,
                    "put-db-record-field-containing-sql": null,
                    "put-db-record-quoted-table-identifiers": "false",
                    "Statement Type Record Path": null,
                    "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
                    "put-db-record-catalog-name": null,
                    "put-db-record-translate-field-names": "true",
                    "put-db-record-dcbp-service": "9f752019-28da-32de-b703-06112f2c0587",
                    "put-db-record-query-timeout": "0 seconds",
                    "rollback-on-failure": "false",
                    "put-db-record-statement-type": "INSERT",
                    "put-db-record-binary-format": "UTF-8",
                    "db-type": "Generic",
                    "put-db-record-update-keys": null,
                    "put-db-record-quoted-identifiers": "false",
                    "put-db-record-table-name": "exemplo_db.clientes",
                    "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
                    "put-db-record-max-batch-size": "1000",
                    "put-db-record-record-reader": "d572ba17-54fe-31e7-8310-b739eb335d9e",
                    "Data Record Path": null,
                    "database-session-autocommit": "false"
                },
                "propertyDescriptors": {
                    "put-db-record-allow-multiple-statements": {
                        "name": "put-db-record-allow-multiple-statements",
                        "displayName": "Allow Multiple SQL Statements",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "table-schema-cache-size": {
                        "name": "table-schema-cache-size",
                        "displayName": "Table Schema Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-schema-name": {
                        "name": "put-db-record-schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-field-containing-sql": {
                        "name": "put-db-record-field-containing-sql",
                        "displayName": "Field Containing SQL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-quoted-table-identifiers": {
                        "name": "put-db-record-quoted-table-identifiers",
                        "displayName": "Quote Table Identifiers",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Statement Type Record Path": {
                        "name": "Statement Type Record Path",
                        "displayName": "Statement Type Record Path",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-unmatched-column-behavior": {
                        "name": "put-db-record-unmatched-column-behavior",
                        "displayName": "Unmatched Column Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-catalog-name": {
                        "name": "put-db-record-catalog-name",
                        "displayName": "Catalog Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-translate-field-names": {
                        "name": "put-db-record-translate-field-names",
                        "displayName": "Translate Field Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-dcbp-service": {
                        "name": "put-db-record-dcbp-service",
                        "displayName": "Database Connection Pooling Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-query-timeout": {
                        "name": "put-db-record-query-timeout",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "rollback-on-failure": {
                        "name": "rollback-on-failure",
                        "displayName": "Rollback On Failure",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-statement-type": {
                        "name": "put-db-record-statement-type",
                        "displayName": "Statement Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-binary-format": {
                        "name": "put-db-record-binary-format",
                        "displayName": "Binary String Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "db-type": {
                        "name": "db-type",
                        "displayName": "Database Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-update-keys": {
                        "name": "put-db-record-update-keys",
                        "displayName": "Update Keys",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-quoted-identifiers": {
                        "name": "put-db-record-quoted-identifiers",
                        "displayName": "Quote Column Identifiers",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-table-name": {
                        "name": "put-db-record-table-name",
                        "displayName": "Table Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-unmatched-field-behavior": {
                        "name": "put-db-record-unmatched-field-behavior",
                        "displayName": "Unmatched Field Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-max-batch-size": {
                        "name": "put-db-record-max-batch-size",
                        "displayName": "Maximum Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "put-db-record-record-reader": {
                        "name": "put-db-record-record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Data Record Path": {
                        "name": "Data Record Path",
                        "displayName": "Data Record Path",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "database-session-autocommit": {
                        "name": "database-session-autocommit",
                        "displayName": "Database Session AutoCommit",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "244a45a3-f8c9-30a0-88b4-0d0326aaf5bd",
                "instanceIdentifier": "63c8fda0-0194-1000-4da3-0f0f238fe8b9",
                "name": "",
                "source": {
                    "id": "f7e4bdfa-c8fc-3fcb-87c6-3217dc7c4112",
                    "type": "PROCESSOR",
                    "groupId": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
                    "name": "Grava MySQL Clientes",
                    "comments": "",
                    "instanceIdentifier": "63c888ff-0194-1000-b8af-e10cab7b6694"
                },
                "destination": {
                    "id": "565e7247-ba11-333e-a201-304c97ea8fa2",
                    "type": "FUNNEL",
                    "groupId": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "63c41b8e-0194-1000-235f-61cb8d81661d"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            },
            {
                "identifier": "a95b4ca4-99bf-313f-8aec-e1564b9bbbef",
                "instanceIdentifier": "63c4300b-0194-1000-0a72-23f0490a1453",
                "name": "",
                "source": {
                    "id": "addd7dec-2ad3-3b5e-8849-ac21b7b13b5b",
                    "type": "PROCESSOR",
                    "groupId": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
                    "name": "Converte CSV em JSON",
                    "comments": "",
                    "instanceIdentifier": "63be959e-0194-1000-d11e-8073b0745aca"
                },
                "destination": {
                    "id": "f7e4bdfa-c8fc-3fcb-87c6-3217dc7c4112",
                    "type": "PROCESSOR",
                    "groupId": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
                    "name": "Grava MySQL Clientes",
                    "comments": "",
                    "instanceIdentifier": "63c888ff-0194-1000-b8af-e10cab7b6694"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "query"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            },
            {
                "identifier": "ef8de283-da13-38f5-84e1-1834944ce969",
                "instanceIdentifier": "63beb496-0194-1000-4342-55d5ada7f246",
                "name": "",
                "source": {
                    "id": "5daa58b1-9549-37a8-b2a7-79ed5a46a0b3",
                    "type": "PROCESSOR",
                    "groupId": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
                    "name": "Ler Arquivo Clientes",
                    "comments": "Execute esse processo uma única vez para carregar os clientes \"Run Once\".",
                    "instanceIdentifier": "63bd3fab-0194-1000-5526-468f4aff2efc"
                },
                "destination": {
                    "id": "addd7dec-2ad3-3b5e-8849-ac21b7b13b5b",
                    "type": "PROCESSOR",
                    "groupId": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
                    "name": "Converte CSV em JSON",
                    "comments": "",
                    "instanceIdentifier": "63be959e-0194-1000-d11e-8073b0745aca"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            },
            {
                "identifier": "456cd976-5580-3503-ae84-8f0aee3486bc",
                "instanceIdentifier": "63c911c1-0194-1000-96bb-b982450059f7",
                "name": "",
                "source": {
                    "id": "f7e4bdfa-c8fc-3fcb-87c6-3217dc7c4112",
                    "type": "PROCESSOR",
                    "groupId": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
                    "name": "Grava MySQL Clientes",
                    "comments": "",
                    "instanceIdentifier": "63c888ff-0194-1000-b8af-e10cab7b6694"
                },
                "destination": {
                    "id": "f7e4bdfa-c8fc-3fcb-87c6-3217dc7c4112",
                    "type": "PROCESSOR",
                    "groupId": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
                    "name": "Grava MySQL Clientes",
                    "comments": "",
                    "instanceIdentifier": "63c888ff-0194-1000-b8af-e10cab7b6694"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "retry"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [
                    {
                        "x": 1205,
                        "y": -145
                    },
                    {
                        "x": 1205,
                        "y": -95
                    }
                ],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            },
            {
                "identifier": "57ba038a-30e0-323d-b801-d57adb878685",
                "instanceIdentifier": "63c46c63-0194-1000-a765-e67f3963e558",
                "name": "",
                "source": {
                    "id": "addd7dec-2ad3-3b5e-8849-ac21b7b13b5b",
                    "type": "PROCESSOR",
                    "groupId": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
                    "name": "Converte CSV em JSON",
                    "comments": "",
                    "instanceIdentifier": "63be959e-0194-1000-d11e-8073b0745aca"
                },
                "destination": {
                    "id": "1ac8d7b2-a596-3048-9bed-5bf185b8c702",
                    "type": "FUNNEL",
                    "groupId": "85b44ba8-39cb-3658-afb4-3b99b04866ea",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "63c45980-0194-1000-d87d-c562977cff22"
                },
                "labelIndex": 0,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            }
        ],
        "labels": [],
        "funnels": [
            {
                "identifier": "1ac8d7b2-a596-3048-9bed-5bf185b8c702",
                "instanceIdentifier": "63c45980-0194-1000-d87d-c562977cff22",
                "position": {
                    "x": 248,
                    "y": -328
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            },
            {
                "identifier": "565e7247-ba11-333e-a201-304c97ea8fa2",
                "instanceIdentifier": "63c41b8e-0194-1000-235f-61cb8d81661d",
                "position": {
                    "x": 888,
                    "y": -312
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            }
        ],
        "controllerServices": [
            {
                "identifier": "75eedcea-6373-3eb6-b406-52775482a9e5",
                "instanceIdentifier": "63c17967-0194-1000-952c-cbfe1ba46832",
                "name": "Grava JSON",
                "comments": "",
                "type": "org.apache.nifi.json.JsonRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.0.0-M4"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "schema-branch": null,
                    "Allow Scientific Notation": "false",
                    "compression-level": "1",
                    "schema-cache": null,
                    "Timestamp Format": null,
                    "Date Format": null,
                    "Pretty Print JSON": "false",
                    "compression-format": "none",
                    "Schema Write Strategy": "no-schema",
                    "suppress-nulls": "never-suppress",
                    "output-grouping": "output-array",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "Time Format": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-version": null,
                    "schema-text": "${avro.schema}",
                    "Schema Reference Writer": null
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Allow Scientific Notation": {
                        "name": "Allow Scientific Notation",
                        "displayName": "Allow Scientific Notation",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "compression-level": {
                        "name": "compression-level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Pretty Print JSON": {
                        "name": "Pretty Print JSON",
                        "displayName": "Pretty Print JSON",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "compression-format": {
                        "name": "compression-format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "suppress-nulls": {
                        "name": "suppress-nulls",
                        "displayName": "Suppress Null Values",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "output-grouping": {
                        "name": "output-grouping",
                        "displayName": "Output Grouping",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Schema Reference Writer": {
                        "name": "Schema Reference Writer",
                        "displayName": "Schema Reference Writer",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.0.0-M4"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            },
            {
                "identifier": "d572ba17-54fe-31e7-8310-b739eb335d9e",
                "instanceIdentifier": "63ca1616-0194-1000-8c13-b1fbe85fb353",
                "name": "Lê JSON",
                "comments": "",
                "type": "org.apache.nifi.json.JsonTreeReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.0.0-M4"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "schema-branch": null,
                    "Max String Length": "20 MB",
                    "schema-application-strategy": "SELECTED_PART",
                    "Timestamp Format": null,
                    "schema-inference-cache": null,
                    "Date Format": null,
                    "schema-name": "${schema.name}",
                    "starting-field-strategy": "ROOT_NODE",
                    "schema-registry": null,
                    "starting-field-name": null,
                    "Time Format": null,
                    "schema-access-strategy": "infer-schema",
                    "schema-version": null,
                    "schema-text": "${avro.schema}",
                    "Allow Comments": "false"
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-application-strategy": {
                        "name": "schema-application-strategy",
                        "displayName": "Schema Application Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-inference-cache": {
                        "name": "schema-inference-cache",
                        "displayName": "Schema Inference Cache",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "starting-field-strategy": {
                        "name": "starting-field-strategy",
                        "displayName": "Starting Field Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "starting-field-name": {
                        "name": "starting-field-name",
                        "displayName": "Starting Field Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Allow Comments": {
                        "name": "Allow Comments",
                        "displayName": "Allow Comments",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.0.0-M4"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            },
            {
                "identifier": "7368fd73-7c6e-350c-a360-8ae009150886",
                "instanceIdentifier": "63c049e5-0194-1000-07fe-e104a04bfd66",
                "name": "Lê CSV com ponto e vírgula",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "2.0.0-M4"
                },
                "properties": {
                    "schema-reference-reader": null,
                    "ignore-csv-header": "false",
                    "schema-branch": null,
                    "Trim double quote": "true",
                    "CSV Format": "custom",
                    "Quote Character": "\"",
                    "csvutils-allow-duplicate-header-names": "true",
                    "Value Separator": ";",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Escape Character": "\\",
                    "Date Format": null,
                    "Null String": null,
                    "Skip Header Line": "true",
                    "Trim Fields": "true",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "csv-reader-csv-parser": "commons-csv",
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "infer-schema",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-reference-reader": {
                        "name": "schema-reference-reader",
                        "displayName": "Schema Reference Reader",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "ignore-csv-header": {
                        "name": "ignore-csv-header",
                        "displayName": "Ignore CSV Header Column Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim double quote": {
                        "name": "Trim double quote",
                        "displayName": "Trim double quote",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-allow-duplicate-header-names": {
                        "name": "csvutils-allow-duplicate-header-names",
                        "displayName": "Allow Duplicate Header Names",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Skip Header Line": {
                        "name": "Skip Header Line",
                        "displayName": "Treat First Line as Header",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csv-reader-csv-parser": {
                        "name": "csv-reader-csv-parser",
                        "displayName": "CSV Parser",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.0.0-M4"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            },
            {
                "identifier": "9f752019-28da-32de-b703-06112f2c0587",
                "instanceIdentifier": "63cb7ee8-0194-1000-b117-3cb46912c460",
                "name": "Grava MySQL",
                "comments": "",
                "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-dbcp-service-nar",
                    "version": "2.0.0-M4"
                },
                "properties": {
                    "dbcp-min-idle-conns": "0",
                    "Max Wait Time": "500 millis",
                    "Database Driver Class Name": "com.mysql.cj.jdbc.Driver",
                    "dbcp-min-evictable-idle-time": "30 mins",
                    "kerberos-principal": null,
                    "Max Total Connections": "8",
                    "kerberos-credentials-service": null,
                    "dbcp-max-conn-lifetime": "-1",
                    "Validation-query": "SELECT 1;",
                    "Database Connection URL": "jdbc:mysql://mysql:3306/exemplo_db",
                    "dbcp-time-between-eviction-runs": "-1",
                    "Database User": "root",
                    "kerberos-user-service": null,
                    "dbcp-soft-min-evictable-idle-time": "-1",
                    "database-driver-locations": "/home/nifi/jdbc/mysql-connector-j-8.0.31.jar",
                    "dbcp-max-idle-conns": "8"
                },
                "propertyDescriptors": {
                    "kerberos-password": {
                        "name": "kerberos-password",
                        "displayName": "Kerberos Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "dbcp-min-idle-conns": {
                        "name": "dbcp-min-idle-conns",
                        "displayName": "Minimum Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Wait Time": {
                        "name": "Max Wait Time",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Driver Class Name": {
                        "name": "Database Driver Class Name",
                        "displayName": "Database Driver Class Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "dbcp-min-evictable-idle-time": {
                        "name": "dbcp-min-evictable-idle-time",
                        "displayName": "Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "kerberos-principal": {
                        "name": "kerberos-principal",
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Max Total Connections": {
                        "name": "Max Total Connections",
                        "displayName": "Max Total Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "kerberos-credentials-service": {
                        "name": "kerberos-credentials-service",
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "dbcp-max-conn-lifetime": {
                        "name": "dbcp-max-conn-lifetime",
                        "displayName": "Max Connection Lifetime",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Validation-query": {
                        "name": "Validation-query",
                        "displayName": "Validation query",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database Connection URL": {
                        "name": "Database Connection URL",
                        "displayName": "Database Connection URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "dbcp-time-between-eviction-runs": {
                        "name": "dbcp-time-between-eviction-runs",
                        "displayName": "Time Between Eviction Runs",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Database User": {
                        "name": "Database User",
                        "displayName": "Database User",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "kerberos-user-service": {
                        "name": "kerberos-user-service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "dbcp-soft-min-evictable-idle-time": {
                        "name": "dbcp-soft-min-evictable-idle-time",
                        "displayName": "Soft Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "database-driver-locations": {
                        "name": "database-driver-locations",
                        "displayName": "Database Driver Location(s)",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "URL",
                                "DIRECTORY",
                                "FILE"
                            ]
                        }
                    },
                    "dbcp-max-idle-conns": {
                        "name": "dbcp-max-idle-conns",
                        "displayName": "Max Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Password": {
                        "name": "Password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.dbcp.DBCPService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.0.0-M4"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "85b44ba8-39cb-3658-afb4-3b99b04866ea"
            }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}