nifi/flows/Otimizando_com_Arquivos_Parquet.json
{"flowContents":{"identifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","instanceIdentifier":"689a8d4e-0194-1000-6967-0085e6561969","name":"Otimizando com Arquivos Parquet","comments":"","position":{"x":-440.0,"y":-40.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"57b23346-c21e-321b-8a9e-de9d971944a7","instanceIdentifier":"01941025-9bba-189b-d1a0-fb746b0e38b5","name":"Start Flow","comments":"","position":{"x":96.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"f243f65f-b4a9-3542-af31-a0de92bb2acb","instanceIdentifier":"0194100e-9bba-189b-5022-9eb6d55c09fe","name":"Query de 1 Milhão de Linhas","comments":"","position":{"x":936.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"b916fea9-4961-32ec-be9f-44e7391a5dac","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"b6e0cc0b-3e16-302c-88dd-a6b75ede729b","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM exemplo_db.clientes;","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"2fde288f-a0a2-3fd0-8508-cb13e749cd81","instanceIdentifier":"01941011-9bba-189b-f7f8-c28fccb1b127","name":"Convertendo em Parquet (com SQL)","comments":"","position":{"x":96.0,"y":360.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"b916fea9-4961-32ec-be9f-44e7391a5dac","query":"SELECT * FROM FLOWFILE","record-reader":"998194a4-fd1e-31c3-a401-500e46f9da07","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"query":{"name":"query","displayName":"query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"b1f64948-b5bd-3447-b9eb-656be60cbf60","instanceIdentifier":"0194100f-9bba-189b-bf6b-21eb22274f6e","name":"Convertendo em Parquet (com SQL)","comments":"","position":{"x":-568.0,"y":104.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"b916fea9-4961-32ec-be9f-44e7391a5dac","query":"SELECT * FROM FLOWFILE","record-reader":"998194a4-fd1e-31c3-a401-500e46f9da07","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"query":{"name":"query","displayName":"query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"5c511a25-8abf-3cf9-86f1-3e09b355eda2","instanceIdentifier":"01941004-9bba-189b-ee91-8c9ebedde188","name":"Lendo Arquivo Localmente","comments":"Execute esse processo uma única vez para carregar os clientes \"Run Once\".","position":{"x":-568.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/home/nifi/mock","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"clientes.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"9f7058d5-e317-3221-ae40-7c59b54a8532","instanceIdentifier":"01941005-9bba-189b-ce00-86ef91813d7f","name":"Lendo Arquivos Object Storage (Online)","comments":"","position":{"x":96.0,"y":112.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":"http://minio-s3:9000","custom-signer-class-name":null,"requester-pays":"false","Object Key":"/caminho_exemplo/clientes.csv","AWS Credentials Provider service":"ce131f2a-b747-3e34-822d-ad69ff74ce68","custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"exemplo","Version":null,"Communications Timeout":"30 secs","Region":"us-west-2","encryption-service":null},"propertyDescriptors":{"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"77ecdda0-e202-3fc8-be3f-f0ea3648d2fd","instanceIdentifier":"01941015-9bba-189b-e252-b995bc20ab81","name":"","source":{"id":"9f7058d5-e317-3221-ae40-7c59b54a8532","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Lendo Arquivos Object Storage (Online)","comments":"","instanceIdentifier":"01941005-9bba-189b-ce00-86ef91813d7f"},"destination":{"id":"2fde288f-a0a2-3fd0-8508-cb13e749cd81","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"01941011-9bba-189b-f7f8-c28fccb1b127"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"0c822c91-94da-3464-b0f6-475d90584f56","instanceIdentifier":"01941019-9bba-189b-1599-989db92d029b","name":"","source":{"id":"f243f65f-b4a9-3542-af31-a0de92bb2acb","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Query de 1 Milhão de Linhas","comments":"","instanceIdentifier":"0194100e-9bba-189b-5022-9eb6d55c09fe"},"destination":{"id":"40d05244-c4d5-3283-a0e3-4a54a3dc2492","type":"FUNNEL","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Funnel","comments":"","instanceIdentifier":"01941018-9bba-189b-8975-03f9d03b3ae2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"049763d5-073e-370d-bf14-194f335296cf","instanceIdentifier":"01941024-9bba-189b-677a-958e0417d1ed","name":"","source":{"id":"2fde288f-a0a2-3fd0-8508-cb13e749cd81","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"01941011-9bba-189b-f7f8-c28fccb1b127"},"destination":{"id":"9b5a27e8-d523-3919-ab19-00c1db9d4ca1","type":"FUNNEL","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Funnel","comments":"","instanceIdentifier":"01941021-9bba-189b-46a5-f2c4973871a7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"0c7905ef-c623-3165-bf19-12df96de6f9d","instanceIdentifier":"0194101e-9bba-189b-7ce7-4d9a30ea0c1f","name":"","source":{"id":"b1f64948-b5bd-3447-b9eb-656be60cbf60","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"0194100f-9bba-189b-bf6b-21eb22274f6e"},"destination":{"id":"559ff22f-9302-3f25-8768-8e1ba3f5b4b3","type":"FUNNEL","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Funnel","comments":"","instanceIdentifier":"0194101b-9bba-189b-777e-adaf2580670a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"43bdaef9-f04b-301f-8ed1-3868d48f3c80","instanceIdentifier":"01941013-9bba-189b-5925-c187e67e2edd","name":"","source":{"id":"f243f65f-b4a9-3542-af31-a0de92bb2acb","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Query de 1 Milhão de Linhas","comments":"","instanceIdentifier":"0194100e-9bba-189b-5022-9eb6d55c09fe"},"destination":{"id":"5a9fe1cd-e54f-3b2e-a7ba-d114cfb2da52","type":"FUNNEL","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Funnel","comments":"","instanceIdentifier":"01941012-9bba-189b-f180-2ed893c3cd70"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"414d2142-622d-3a04-b8d6-32d5d7037655","instanceIdentifier":"01941014-9bba-189b-21b0-71872ee8bb6d","name":"","source":{"id":"5c511a25-8abf-3cf9-86f1-3e09b355eda2","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Lendo Arquivo Localmente","comments":"Execute esse processo uma única vez para carregar os clientes \"Run Once\".","instanceIdentifier":"01941004-9bba-189b-ee91-8c9ebedde188"},"destination":{"id":"b1f64948-b5bd-3447-b9eb-656be60cbf60","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"0194100f-9bba-189b-bf6b-21eb22274f6e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"2b643a28-bf9f-37e3-88aa-9951d595da08","instanceIdentifier":"0194101d-9bba-189b-6575-5a2d24d09203","name":"","source":{"id":"b1f64948-b5bd-3447-b9eb-656be60cbf60","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"0194100f-9bba-189b-bf6b-21eb22274f6e"},"destination":{"id":"b928e4a8-db83-3b0a-9a93-22e7bbed4c88","type":"FUNNEL","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Funnel","comments":"","instanceIdentifier":"0194101c-9bba-189b-1043-3280ca5f5f3d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"5b0702d0-e490-3e3c-a789-46ff94b336c6","instanceIdentifier":"01941023-9bba-189b-a54e-5c2262803bc4","name":"","source":{"id":"2fde288f-a0a2-3fd0-8508-cb13e749cd81","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"01941011-9bba-189b-f7f8-c28fccb1b127"},"destination":{"id":"161f430e-535e-3a77-a324-c5c9f54c1c30","type":"FUNNEL","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Funnel","comments":"","instanceIdentifier":"01941022-9bba-189b-38b9-e7007bb681cc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"a50a02a4-d0ff-3940-bb6f-fcb89164040b","instanceIdentifier":"01941017-9bba-189b-52e4-3d39973a79f6","name":"","source":{"id":"9f7058d5-e317-3221-ae40-7c59b54a8532","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Lendo Arquivos Object Storage (Online)","comments":"","instanceIdentifier":"01941005-9bba-189b-ce00-86ef91813d7f"},"destination":{"id":"8bd9acde-b2ba-32c9-bab3-d9c63d8a9b8d","type":"FUNNEL","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Funnel","comments":"","instanceIdentifier":"01941016-9bba-189b-f01c-ebd7a5aa8977"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"0fde243f-6f36-31d6-a981-464e21403ec6","instanceIdentifier":"01941026-9bba-189b-5c76-4c72db175749","name":"","source":{"id":"57b23346-c21e-321b-8a9e-de9d971944a7","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Start Flow","comments":"","instanceIdentifier":"01941025-9bba-189b-d1a0-fb746b0e38b5"},"destination":{"id":"9f7058d5-e317-3221-ae40-7c59b54a8532","type":"PROCESSOR","groupId":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711","name":"Lendo Arquivos Object Storage (Online)","comments":"","instanceIdentifier":"01941005-9bba-189b-ce00-86ef91813d7f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"}],"labels":[{"identifier":"50151e7b-2d98-3f56-ac95-08774b5fdb9c","instanceIdentifier":"01941020-9bba-189b-a658-165a8fe2fbad","position":{"x":32.0,"y":-168.0},"zIndex":0,"width":496.0,"height":856.0,"style":{},"componentType":"LABEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"45cc23d8-93c2-380a-8938-d7436e1f5715","instanceIdentifier":"01941028-9bba-189b-92ad-33ff94d3b5f4","position":{"x":888.0,"y":-160.0},"zIndex":0,"width":432.0,"height":400.0,"style":{},"componentType":"LABEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"1cbeaec7-fbf2-3d04-8e63-bd1f62d3b55f","instanceIdentifier":"0194101a-9bba-189b-d476-3dea57f44682","position":{"x":-616.0,"y":-168.0},"zIndex":0,"width":448.0,"height":600.0,"style":{},"componentType":"LABEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"641204c9-f9d4-3026-9edf-39a8286ae6a2","instanceIdentifier":"689b9bba-0194-1000-f6d7-84889beb3645","position":{"x":-528.0,"y":-240.0},"label":"Convertendo arquivos locais","zIndex":0,"width":280.0,"height":56.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"da45967f-f099-39c2-98a7-c7616a13f8a1","instanceIdentifier":"689ab78b-0194-1000-10cb-3790099c66ec","position":{"x":48.0,"y":-400.0},"label":"Conversão dos Flowfiles em Parquet","zIndex":0,"width":464.0,"height":64.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"4b0da585-a133-3947-a5a6-c679db04e378","instanceIdentifier":"01941002-9bba-189b-3240-08f2042feaf2","position":{"x":896.0,"y":-232.0},"label":"Convertendo em Tempo de Execução (Queries)","zIndex":0,"width":440.0,"height":56.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"24eb4ab3-6a9c-3a49-91c0-ee88d4e7e90f","instanceIdentifier":"01941000-9bba-189b-ad95-69c40542f585","position":{"x":104.0,"y":-240.0},"label":"Convertendo Object Storage (Online)","zIndex":0,"width":344.0,"height":56.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"}],"funnels":[{"identifier":"8bd9acde-b2ba-32c9-bab3-d9c63d8a9b8d","instanceIdentifier":"01941016-9bba-189b-f01c-ebd7a5aa8977","position":{"x":712.0,"y":152.0},"componentType":"FUNNEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"559ff22f-9302-3f25-8768-8e1ba3f5b4b3","instanceIdentifier":"0194101b-9bba-189b-777e-adaf2580670a","position":{"x":-416.0,"y":328.0},"componentType":"FUNNEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"40d05244-c4d5-3283-a0e3-4a54a3dc2492","instanceIdentifier":"01941018-9bba-189b-8975-03f9d03b3ae2","position":{"x":1584.0,"y":-88.0},"componentType":"FUNNEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"b928e4a8-db83-3b0a-9a93-22e7bbed4c88","instanceIdentifier":"0194101c-9bba-189b-1043-3280ca5f5f3d","position":{"x":-896.0,"y":144.0},"componentType":"FUNNEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"161f430e-535e-3a77-a324-c5c9f54c1c30","instanceIdentifier":"01941022-9bba-189b-38b9-e7007bb681cc","position":{"x":712.0,"y":408.0},"componentType":"FUNNEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"5a9fe1cd-e54f-3b2e-a7ba-d114cfb2da52","instanceIdentifier":"01941012-9bba-189b-f180-2ed893c3cd70","position":{"x":1088.0,"y":136.0},"componentType":"FUNNEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"9b5a27e8-d523-3919-ab19-00c1db9d4ca1","instanceIdentifier":"01941021-9bba-189b-46a5-f2c4973871a7","position":{"x":248.0,"y":600.0},"componentType":"FUNNEL","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"}],"controllerServices":[{"identifier":"5f90a417-9bd1-30b6-a587-b7895e8cba0f","instanceIdentifier":"0194102a-9bba-189b-19b0-c028c23de838","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"998194a4-fd1e-31c3-a401-500e46f9da07","instanceIdentifier":"01941029-9bba-189b-f3c1-29d47bac1ca7","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":";","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"b6e0cc0b-3e16-302c-88dd-a6b75ede729b","instanceIdentifier":"0194102d-9bba-189b-dbb5-eb53bf9cdcd3","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M4"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"SELECT 1;","Database Connection URL":"jdbc:mysql://mysql:3306/exemplo_db","dbcp-time-between-eviction-runs":"-1","Database User":"root","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/home/nifi/jdbc/mysql-connector-j-8.0.31.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"b916fea9-4961-32ec-be9f-44e7391a5dac","instanceIdentifier":"0194102c-9bba-189b-d447-e45d73a63930","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-cache":null,"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"encoder-pool-size":"32","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"ce131f2a-b747-3e34-822d-ad69ff74ce68","instanceIdentifier":"01941008-9bba-189b-2fb0-5468b7084458","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"profile-name":null,"assume-role-proxy-host":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"},{"identifier":"926cf699-a751-3c1f-bde2-d04265ee7119","instanceIdentifier":"0194102b-9bba-189b-124c-8c1228d557e1","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6fa3b7e-85b5-36c4-8cb1-0ece66f83711"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}