nifi/flows/Otimizando_com_Arquivos_Parquet.json
{"flowContents":{"identifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","instanceIdentifier":"6dc9464d-0194-1000-ecd9-9919216ebaca","name":"Otimizando_com_Arquivos_Parquet","comments":"","position":{"x":-448.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"57b23346-c21e-321b-8a9e-de9d971944a7","instanceIdentifier":"e6bd721b-0874-3e62-64fb-b346f2f9dd54","name":"Start Flow","comments":"","position":{"x":96.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"f243f65f-b4a9-3542-af31-a0de92bb2acb","instanceIdentifier":"9e9b485b-151e-31d5-959f-445259fb7bf5","name":"Query de 1 Milhão de Linhas","comments":"","position":{"x":936.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"94c21321-3eda-39f7-917a-ddc07ac85f7a","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"3021be79-4b11-3e8c-94ed-7f3b8172d161","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM exemplo_db.clientes;","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"2fde288f-a0a2-3fd0-8508-cb13e749cd81","instanceIdentifier":"17ccecdb-867a-3b4d-7b93-8ddc70db423d","name":"Convertendo em Parquet (com SQL)","comments":"","position":{"x":96.0,"y":360.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"dbf-default-precision":"10","record-writer":"94c21321-3eda-39f7-917a-ddc07ac85f7a","query":"SELECT * FROM FLOWFILE","record-reader":"6f964727-58e2-3309-988a-8b4d0e829c92","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"query":{"name":"query","displayName":"query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"b1f64948-b5bd-3447-b9eb-656be60cbf60","instanceIdentifier":"25efba93-e325-3d70-8ec4-321119bf5481","name":"Convertendo em Parquet (com SQL)","comments":"","position":{"x":-568.0,"y":104.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"dbf-default-precision":"10","record-writer":"9202b724-dc97-3b63-9f67-e713a8c5090d","query":"SELECT * FROM FLOWFILE","record-reader":"6f964727-58e2-3309-988a-8b4d0e829c92","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"query":{"name":"query","displayName":"query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"5c511a25-8abf-3cf9-86f1-3e09b355eda2","instanceIdentifier":"5f5f4fd5-4ed3-3b1a-3f2e-6316d850e5e0","name":"Lendo Arquivo Localmente","comments":"Execute esse processo uma única vez para carregar os clientes \"Run Once\".","position":{"x":-568.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/home/nifi/mock","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"clientes.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"9f7058d5-e317-3221-ae40-7c59b54a8532","instanceIdentifier":"a1c6a373-dfdf-3f27-bc85-0559b76cffab","name":"Lendo Arquivos Object Storage (Online)","comments":"","position":{"x":96.0,"y":112.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0"},"properties":{"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":"http://minio-s3:9000","custom-signer-class-name":null,"requester-pays":"false","Object Key":"/caminho_exemplo/clientes.csv","AWS Credentials Provider service":"ac5b819a-1499-3878-b2c5-422b5876cd45","custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"exemplo","Version":null,"Communications Timeout":"30 secs","Region":"us-west-2","encryption-service":null},"propertyDescriptors":{"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"77ecdda0-e202-3fc8-be3f-f0ea3648d2fd","instanceIdentifier":"86990c44-fa1b-352d-afd3-5e6c56859b99","name":"","source":{"id":"9f7058d5-e317-3221-ae40-7c59b54a8532","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Lendo Arquivos Object Storage (Online)","comments":"","instanceIdentifier":"a1c6a373-dfdf-3f27-bc85-0559b76cffab"},"destination":{"id":"2fde288f-a0a2-3fd0-8508-cb13e749cd81","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"17ccecdb-867a-3b4d-7b93-8ddc70db423d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"0c822c91-94da-3464-b0f6-475d90584f56","instanceIdentifier":"2f9699a2-8ab4-304a-918e-9af4d9a1fbd6","name":"","source":{"id":"f243f65f-b4a9-3542-af31-a0de92bb2acb","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Query de 1 Milhão de Linhas","comments":"","instanceIdentifier":"9e9b485b-151e-31d5-959f-445259fb7bf5"},"destination":{"id":"40d05244-c4d5-3283-a0e3-4a54a3dc2492","type":"FUNNEL","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Funnel","comments":"","instanceIdentifier":"307963a3-2c02-3fc2-dc7a-a0ccca5f6726"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"049763d5-073e-370d-bf14-194f335296cf","instanceIdentifier":"a1efe58a-41f9-377a-9b80-8e5d96a1bbc4","name":"","source":{"id":"2fde288f-a0a2-3fd0-8508-cb13e749cd81","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"17ccecdb-867a-3b4d-7b93-8ddc70db423d"},"destination":{"id":"9b5a27e8-d523-3919-ab19-00c1db9d4ca1","type":"FUNNEL","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Funnel","comments":"","instanceIdentifier":"25fdc6eb-0e2b-370a-8278-6fdb3e802417"},"labelIndex":0,"zIndex":0,"selectedRelationships":["query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"0c7905ef-c623-3165-bf19-12df96de6f9d","instanceIdentifier":"9a5a7b60-54f1-3cd7-9c55-c318e8304e80","name":"","source":{"id":"b1f64948-b5bd-3447-b9eb-656be60cbf60","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"25efba93-e325-3d70-8ec4-321119bf5481"},"destination":{"id":"559ff22f-9302-3f25-8768-8e1ba3f5b4b3","type":"FUNNEL","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Funnel","comments":"","instanceIdentifier":"2f058ae0-5ca8-3921-a122-471728076a49"},"labelIndex":0,"zIndex":0,"selectedRelationships":["query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"43bdaef9-f04b-301f-8ed1-3868d48f3c80","instanceIdentifier":"b545ea4f-e4c7-3b4e-5122-118dab3d1a28","name":"","source":{"id":"f243f65f-b4a9-3542-af31-a0de92bb2acb","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Query de 1 Milhão de Linhas","comments":"","instanceIdentifier":"9e9b485b-151e-31d5-959f-445259fb7bf5"},"destination":{"id":"5a9fe1cd-e54f-3b2e-a7ba-d114cfb2da52","type":"FUNNEL","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Funnel","comments":"","instanceIdentifier":"2b556e69-e2fa-39a4-aca5-10a881802a81"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"414d2142-622d-3a04-b8d6-32d5d7037655","instanceIdentifier":"deac18dd-423c-3f63-431a-6936377ba39e","name":"","source":{"id":"5c511a25-8abf-3cf9-86f1-3e09b355eda2","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Lendo Arquivo Localmente","comments":"Execute esse processo uma única vez para carregar os clientes \"Run Once\".","instanceIdentifier":"5f5f4fd5-4ed3-3b1a-3f2e-6316d850e5e0"},"destination":{"id":"b1f64948-b5bd-3447-b9eb-656be60cbf60","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"25efba93-e325-3d70-8ec4-321119bf5481"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"2b643a28-bf9f-37e3-88aa-9951d595da08","instanceIdentifier":"d0bca6ff-f967-3c15-9bb4-d7869f8f849b","name":"","source":{"id":"b1f64948-b5bd-3447-b9eb-656be60cbf60","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"25efba93-e325-3d70-8ec4-321119bf5481"},"destination":{"id":"b928e4a8-db83-3b0a-9a93-22e7bbed4c88","type":"FUNNEL","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Funnel","comments":"","instanceIdentifier":"b23d3d52-03d1-3745-d7c4-a9dae1cf8d56"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"5b0702d0-e490-3e3c-a789-46ff94b336c6","instanceIdentifier":"8058d5c8-a2ec-3ce4-8645-60dc6cb843d3","name":"","source":{"id":"2fde288f-a0a2-3fd0-8508-cb13e749cd81","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Convertendo em Parquet (com SQL)","comments":"","instanceIdentifier":"17ccecdb-867a-3b4d-7b93-8ddc70db423d"},"destination":{"id":"161f430e-535e-3a77-a324-c5c9f54c1c30","type":"FUNNEL","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Funnel","comments":"","instanceIdentifier":"1f5a2ba5-a132-3c20-3d40-311b4990f638"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"a50a02a4-d0ff-3940-bb6f-fcb89164040b","instanceIdentifier":"d4edb11f-e133-361e-c8ae-95497d58fd66","name":"","source":{"id":"9f7058d5-e317-3221-ae40-7c59b54a8532","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Lendo Arquivos Object Storage (Online)","comments":"","instanceIdentifier":"a1c6a373-dfdf-3f27-bc85-0559b76cffab"},"destination":{"id":"8bd9acde-b2ba-32c9-bab3-d9c63d8a9b8d","type":"FUNNEL","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Funnel","comments":"","instanceIdentifier":"589b4a73-cae8-31b3-4c56-8501299385b3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"0fde243f-6f36-31d6-a981-464e21403ec6","instanceIdentifier":"bd50e6c3-76f2-3136-aa11-6a6e163ce91f","name":"","source":{"id":"57b23346-c21e-321b-8a9e-de9d971944a7","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Start Flow","comments":"","instanceIdentifier":"e6bd721b-0874-3e62-64fb-b346f2f9dd54"},"destination":{"id":"9f7058d5-e317-3221-ae40-7c59b54a8532","type":"PROCESSOR","groupId":"11d77362-7f08-3903-8d40-3f76c4bbe7fd","name":"Lendo Arquivos Object Storage (Online)","comments":"","instanceIdentifier":"a1c6a373-dfdf-3f27-bc85-0559b76cffab"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"}],"labels":[{"identifier":"50151e7b-2d98-3f56-ac95-08774b5fdb9c","instanceIdentifier":"ddf728ed-34bb-362a-6d2f-dd038f48c57f","position":{"x":32.0,"y":-168.0},"zIndex":0,"width":496.0,"height":856.0,"style":{},"componentType":"LABEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"45cc23d8-93c2-380a-8938-d7436e1f5715","instanceIdentifier":"5adc576d-2e8f-3e92-7b83-3d56fb50ead1","position":{"x":888.0,"y":-160.0},"zIndex":0,"width":432.0,"height":400.0,"style":{},"componentType":"LABEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"1cbeaec7-fbf2-3d04-8e63-bd1f62d3b55f","instanceIdentifier":"36f675a2-9609-3681-a89c-b88b329d4857","position":{"x":-616.0,"y":-168.0},"zIndex":0,"width":448.0,"height":600.0,"style":{},"componentType":"LABEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"641204c9-f9d4-3026-9edf-39a8286ae6a2","instanceIdentifier":"4a302990-d59a-3f73-20fb-9ef283cd868e","position":{"x":-528.0,"y":-240.0},"label":"Convertendo arquivos locais","zIndex":0,"width":280.0,"height":56.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"da45967f-f099-39c2-98a7-c7616a13f8a1","instanceIdentifier":"138ecc2d-0c6d-3643-77e2-bb09e29c618b","position":{"x":48.0,"y":-400.0},"label":"Conversão dos Flowfiles em Parquet","zIndex":0,"width":464.0,"height":64.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"4b0da585-a133-3947-a5a6-c679db04e378","instanceIdentifier":"5e929bf3-029e-3c7f-4c2b-3a7789634333","position":{"x":896.0,"y":-232.0},"label":"Convertendo em Tempo de Execução (Queries)","zIndex":0,"width":440.0,"height":56.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"24eb4ab3-6a9c-3a49-91c0-ee88d4e7e90f","instanceIdentifier":"974ba47c-b6b8-3c33-f3da-9a39a2c68166","position":{"x":104.0,"y":-240.0},"label":"Convertendo Object Storage (Online)","zIndex":0,"width":344.0,"height":56.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"}],"funnels":[{"identifier":"8bd9acde-b2ba-32c9-bab3-d9c63d8a9b8d","instanceIdentifier":"589b4a73-cae8-31b3-4c56-8501299385b3","position":{"x":712.0,"y":152.0},"componentType":"FUNNEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"559ff22f-9302-3f25-8768-8e1ba3f5b4b3","instanceIdentifier":"2f058ae0-5ca8-3921-a122-471728076a49","position":{"x":-416.0,"y":328.0},"componentType":"FUNNEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"40d05244-c4d5-3283-a0e3-4a54a3dc2492","instanceIdentifier":"307963a3-2c02-3fc2-dc7a-a0ccca5f6726","position":{"x":1584.0,"y":-88.0},"componentType":"FUNNEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"b928e4a8-db83-3b0a-9a93-22e7bbed4c88","instanceIdentifier":"b23d3d52-03d1-3745-d7c4-a9dae1cf8d56","position":{"x":-896.0,"y":144.0},"componentType":"FUNNEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"161f430e-535e-3a77-a324-c5c9f54c1c30","instanceIdentifier":"1f5a2ba5-a132-3c20-3d40-311b4990f638","position":{"x":712.0,"y":408.0},"componentType":"FUNNEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"5a9fe1cd-e54f-3b2e-a7ba-d114cfb2da52","instanceIdentifier":"2b556e69-e2fa-39a4-aca5-10a881802a81","position":{"x":1088.0,"y":136.0},"componentType":"FUNNEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"},{"identifier":"9b5a27e8-d523-3919-ab19-00c1db9d4ca1","instanceIdentifier":"25fdc6eb-0e2b-370a-8278-6fdb3e802417","position":{"x":248.0,"y":600.0},"componentType":"FUNNEL","groupIdentifier":"11d77362-7f08-3903-8d40-3f76c4bbe7fd"}],"controllerServices":[{"identifier":"3021be79-4b11-3e8c-94ed-7f3b8172d161","instanceIdentifier":"6dcf8499-0194-1000-3040-af4b7ff32f62","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:mysql://mysql:3306/exemplo_db","dbcp-time-between-eviction-runs":"-1","Database User":"root","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/home/nifi/jdbc/mysql-connector-j-8.0.31.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6dc9464d-0194-1000-ecd9-9919216ebaca"},{"identifier":"ac5b819a-1499-3878-b2c5-422b5876cd45","instanceIdentifier":"6dd1ee5b-0194-1000-2746-21ec23e28d01","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6dc9464d-0194-1000-ecd9-9919216ebaca"},{"identifier":"9202b724-dc97-3b63-9f67-e713a8c5090d","instanceIdentifier":"6dcdb1a1-0194-1000-7fbf-0e0768d02542","name":"ParquetRecordSetWriter - GZIP","comments":"","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"max-padding-size":null,"avro-write-old-list-structure":"true","row-group-size":null,"schema-cache":null,"enable-dictionary-encoding":null,"Schema Write Strategy":"no-schema","page-size":null,"writer-version":null,"compression-type":"GZIP","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"enable-validation":null,"dictionary-page-size":null,"int96-fields":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","avro-add-list-element-records":"true","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"int96-fields":{"name":"int96-fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6dc9464d-0194-1000-ecd9-9919216ebaca"},{"identifier":"6f964727-58e2-3309-988a-8b4d0e829c92","instanceIdentifier":"6dc9cb27-0194-1000-aeb8-615c9fd41257","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":";","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6dc9464d-0194-1000-ecd9-9919216ebaca"},{"identifier":"94c21321-3eda-39f7-917a-ddc07ac85f7a","instanceIdentifier":"6dd3a36a-0194-1000-cb01-53392adfa268","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6dc9464d-0194-1000-ecd9-9919216ebaca"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}